drive_setup.json
{
  "name": "drive_setup",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1up2uT2-gTAkHcDt_e556SBrnlqsT-o_Y",
          "mode": "list",
          "cachedResultName": "n8n demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1up2uT2-gTAkHcDt_e556SBrnlqsT-o_Y"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c40e49aa-9631-462b-8803-15cc09f5ae88",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6gT65Z3MOkGW4oPa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "a8d635ba-f626-4a38-abf8-39423077d369",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6gT65Z3MOkGW4oPa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ndemo",
          "mode": "list",
          "cachedResultName": "n8ndemo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "a8a107c1-38c5-4026-aa5b-1b4e68d484c8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "czU8jkSGZJxNCWJ0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        208
      ],
      "id": "d3d807ef-b0ad-48b7-86b3-c246238dac91",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        416
      ],
      "id": "8440cb59-3270-4dc5-852e-2f597084e572",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        288
      ],
      "id": "12c06090-3b7c-496a-9e04-b7bdf997e128",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BAnq1YkMUN7SBxlt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. use the pinecone vector store tool to get information regarding user queries."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        48
      ],
      "id": "9321d9a2-2050-4f5c-ad93-7bcf1e3db352",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        816,
        48
      ],
      "id": "83e3b28e-68af-48e6-b137-03c43c9a1225",
      "name": "When chat message received",
      "webhookId": "7a00f5ea-1e7a-4795-826b-a6007d1fc19a"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        240
      ],
      "id": "ac43bd9a-8d9d-44ce-b2bb-c0ffbaa9e874",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "id": "13186fdb-9231-496b-9fec-2274640ce3ec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BAnq1YkMUN7SBxlt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this database to fetch relevant information according to the user's prompt",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ndemo",
          "mode": "list",
          "cachedResultName": "n8ndemo"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1328,
        256
      ],
      "id": "17247860-cb8c-4da4-86f5-760ec264d26e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "czU8jkSGZJxNCWJ0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        416
      ],
      "id": "97750f3d-80fd-478c-bebf-ff44bf1f8cf9",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "BAnq1YkMUN7SBxlt",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c69b88bb-34ae-446c-8125-f174cccd81a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87634fa3290a1620f07db4fde157f30e4a24a123884216a7523d55df96ad4f61"
  },
  "id": "WGTeaGWfBSw8adYD",
  "tags": []
}