space_explore.json
{
  "name": "space_explore",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a09ea37-eaa2-43a6-b9f1-652e424766e5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e89e1dca-1df9-4d95-9e75-d6a683b9345e",
      "name": "Webhook",
      "webhookId": "1a09ea37-eaa2-43a6-b9f1-652e424766e5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19Gq4UGQUa0EXGeMtlJNY92ctBc5h-1dCTFCDJxVvSSk",
          "mode": "list",
          "cachedResultName": "n8n space explore",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Gq4UGQUa0EXGeMtlJNY92ctBc5h-1dCTFCDJxVvSSk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Gq4UGQUa0EXGeMtlJNY92ctBc5h-1dCTFCDJxVvSSk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Age": "={{ $json.body.age }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "webhookUrl",
              "displayName": "webhookUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "executionMode",
              "displayName": "executionMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fea192a1-ddda-4c68-b69f-fc405311f929",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MoYKPRZPaowN6iPb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9a1369fd-a999-4843-9512-db3e07293bb0",
      "name": "Get the astronomy picture of the day",
      "credentials": {
        "nasaApi": {
          "id": "EBRvLcjJjTBxNODF",
          "name": "NASA account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.Email }}",
        "subject": "Today's astronomy picture",
        "emailType": "text",
        "message": "={{ $('Append row in sheet').item.json.explanation }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "abe4a6ca-0543-4588-a553-37d18c3901c9",
      "name": "Send a message",
      "webhookId": "54212898-afe4-447a-93dd-93247d0d3ea5",
      "credentials": {
        "gmailOAuth2": {
          "id": "IzG3rM1q60fpLXFt",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get the astronomy picture of the day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the astronomy picture of the day": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5b9164e-1720-4225-a89e-ea294019093b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87634fa3290a1620f07db4fde157f30e4a24a123884216a7523d55df96ad4f61"
  },
  "id": "qmwJJoUNejWui1X3",
  "tags": []
}